@charset "UTF-8";
/*reset / normalización de todos los elementos del html*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #264065;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  background-color: #264065;
  color: white;
  padding: 16px 24px;
  border-radius: 28px;
  text-decoration: none;
}
.btn:hover {
  opacity: 0.5;
  text-decoration: none;
}

.hero {
  width: 50%;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
.hero__title {
  font-size: 54px;
  line-height: 1.6em;
  margin: 0;
  margin-bottom: 32px;
  color: #264065;
  font-weight: 700;
}
.hero__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 28px;
  color: #909090;
}
.hero__buttons {
  display: flex;
  align-items: center;
  gap: 32px;
}
.hero__buttons .video {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #264065;
  font-weight: 500;
}
.hero__buttons .video .play {
  width: 48px;
  height: 48px;
  position: relative;
  top: 0px;
  right: 0px;
  transform: translateY(-2px);
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}
.hero__buttons .video:hover {
  opacity: 0.8;
}

.services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 36%;
  gap: 15px;
  background-color: white;
  border-radius: 16px;
  padding: 20px 10px;
}
.services article {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.services article img {
  background-color: #A9D6CB;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.services article h3 {
  font-size: 36px;
  font-weight: 500;
  color: #264065;
  margin-bottom: 10px;
}
.services article p {
  color: #909090;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 80px 0;
}
.header__logo img {
  width: 160px;
  max-width: 100%;
  height: auto;
}
.header__menu {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
.header__menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__menu ul li {
  position: relative;
}
.header__menu ul li a {
  text-decoration: none;
  color: #264065;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__menu ul li a:hover {
  opacity: 0.3;
}
.header__menu .dropdown__menu {
  display: none;
  position: absolute;
  top: 100%;
  background: white;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.header__menu .dropdown__menu li {
  padding: 8px 16px;
  white-space: nowrap;
}
.header__menu .dropdown:hover .dropdown__menu {
  display: block;
}
.header__login {
  display: flex;
  align-items: center;
}
.header__login ul {
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 30px;
  display: flex;
}
.header__login ul li {
  padding: 0;
}
.header__login ul a {
  text-decoration: none;
  font-weight: 300;
  display: flex;
  align-items: center;
  color: #264065;
  height: 60px;
}
.header__login ul a:hover {
  opacity: 0.3;
  text-decoration: underline;
}
.header__login ul a img {
  width: 20px;
}
.header__login ul .btn {
  display: inline-block;
  background-color: #264065;
  color: white;
  padding: 16px 24px;
  border-radius: 28px;
  text-decoration: none;
  color: white;
  height: 50px;
  margin-top: 5px;
}
.header__login ul .btn:hover {
  opacity: 0.5;
  text-decoration: none;
}

.container {
  position: relative;
  background-color: #FAF8F5;
  width: 100%;
  min-height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
  overflow-x: hidden;
}
.container .bg-rectangulo {
  position: absolute;
  top: 0px;
  right: -300px;
  width: 780px;
  height: 620px;
  background-image: url("../img/rectangulo-verde.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  pointer-events: none;
}
.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/vector-flor.svg");
  background-repeat: no-repeat;
  background-position: 800px 100px;
  background-size: 380px;
  opacity: 0.1;
  z-index: 2;
  pointer-events: none;
}
.container::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 90%;
  height: 100%;
  background-image: url("../img/woman.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 30px top;
  z-index: 5;
  pointer-events: none;
}
.container > * {
  position: relative;
  z-index: 10;
}

.reviews {
  display: flex;
  gap: 30px;
  width: 100%;
  position: relative;
}
.reviews__1, .reviews__2 {
  background-color: rgba(250, 248, 245, 0.5);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  padding: 10px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 400;
  color: black;
  width: 300px;
  height: 200px;
  position: absolute;
  z-index: 25;
}
.reviews__1 {
  right: -10px;
  top: -490px;
}
.reviews__2 {
  right: 100px;
  top: -250px;
}
.reviews img {
  margin-bottom: 10px;
  width: 24px;
}
.reviews__autor {
  font-weight: 600;
  margin-top: 20px;
  color: #264065;
}/*# sourceMappingURL=app.css.map */