$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;



// Colors y fuente

$dark-blue: #264065;
$grey: #909090;
$pink: #F74780;
$green: #A9D6CB;
$grey-light: #FAF8F5;


$primary-font: 'Poppins', sans-serif;








