
@use '../abstracts' as *;



.services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 36%;
    gap: 15px;
    background-color: white;
    border-radius: 16px;
    padding: 20px 10px;

    article {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        img {
            background-color: $green;
            margin-bottom: 10px;
            padding: 15px;           // ← Espacio entre icono y borde
            border-radius: 50%;      // ← Circular
            width: 60px;             // ← Tamaño fijo
            height: 60px;
        }

        h3 {
            font-size: 36px;
            font-weight: 500;
            color: $dark-blue;
            margin-bottom: 10px;
        }

        p {
            color: $grey;
        }
    }
}
