@use '../abstracts' as *;

.container {
  max-width: 1200px; // O el ancho que quieras
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  @include breakpoint(tablethorizontal) {
    padding-left: 24px;
    padding-right: 24px;
  }
}