@use '../abstracts' as *;

.header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 80px 0;

  &__logo {
    img {
      width: 160px;
      max-width: 100%;
      height: auto;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    margin: 0 20px;
    
    ul {
      @include reset_list();
      display: flex;
      align-items: center;
      gap: 40px;
      
      li {
        position: relative;
        
        a {
          text-decoration: none;
          color: $dark-blue;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 5px;
          
          &:hover {
            opacity: 0.3;
          }
        }
      }
    }
    
    .dropdown__menu {
      display: none;
      position: absolute;
      top: 100%;
      background: white;
      padding: 10px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      
      li {
        padding: 8px 16px;
        white-space: nowrap;
      }
    }
    
    .dropdown:hover .dropdown__menu {
      display: block;
    }
  }

  &__login {
    display: flex; 
    align-items: center;

    ul {
      @include reset_list();
      gap: 30px;
      display: flex;
      li{
        padding: 0;
      }
      
      a {
        text-decoration: none;
        font-weight: 300;
        display: flex;
        align-items: center;
        color: $dark-blue;
        height: 60px;

        &:hover {
            opacity: 0.3;
            text-decoration: underline;
          }
        
        img {
          width: 20px;
        }
      }
      .btn { 
        @include button(); // ← ahora sí aplica el mixin 
        color: white; // ← refuerzo por si acaso }
        height: 50px;
        margin-top: 5px;
  }
}

}

}