@use '../abstracts' as *;


.hero {
  width: 50%;
  margin-bottom: 20px;
  font-family: $primary-font;

  &__title {
    font-size: 54px;
    line-height: 1.6em;
    margin: 0;
    margin-bottom: 32px;
    color: $dark-blue;
    font-weight: 700;

  }

  &__subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 28px;
    color: $grey;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 32px;

    .video {
      display: flex;
      align-items: center;
      gap: 12px;
      text-decoration: none;
      color: $dark-blue;  // ← Aquí el color
      font-weight: 500;

      .play {
        width: 48px;   // ← Tamaño del icono
        height: 48px;
        position: relative;
        top: 0px;  // ← Ajusta este valor: negativo sube, positivo baja
        right: 0px;
        transform: translateY(-2px);  //le damos sombra
        filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }


}
