@use '../abstracts' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: $primary-font;
  font-size: 16px;
  color: $dark-blue;
  overflow-x: hidden;
  
}


img {
  max-width: 100%;
  height: auto;
}






