@use '../abstracts' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

body {
  margin: 0; // Quita márgenes del body
  padding: 0;
  font-family: $primary-font;
  font-size: 16px;
  background-repeat: no-repeat;
  overflow-x: hidden;
  width: 100%;
  @include breakpoint(tablet) {
    background-image: url("../img/hero.png");
    background-repeat: no-repeat;
    background-position: 120% 0;
    background-size: 380px;
    }
  @include breakpoint(tablethorizontal) {
    background-position: 100% 0;
    background-size: 500px;
    }
}

img {
  max-width: 100%; // Evita que las imágenes se salgan
  height: auto;
}





